{% extends 'all.html' %} 
{% load static %} 
{% block content %}
<div class="w-50 alert alert-success welcom" role="alert">
    تمامی نامه های دریافتی
</div>
<div class="container-fluid">
    <div class="row">
        <div class="w-50 form-css search">
            <form method="get">
                <input class="w-75" type="search" placeholder="جستجو">
                <button class="btn-search" type="submit">
                  {% include 'icons/search.html' %}
                </button>
            </form> 
        </div>
        	<table class="w-100 demTable">
          <thead>
            <tr>
              <th class="form-css">ردیف</th>
              <th class="form-css">موضوع نامه</th>
              <th class="form-css">به</th>
              <th class="form-css">تاریخ ارسال</th>
              <th class="form-css">اولویت</th>
              <th class="form-css">مشاهده</th>
            </tr>
            
            {% for i in naame %}
              
              {% if i.author == request.user %}
                <tr>
                <td class="form-css tb">&nbsp;</td>
                <td class="form-css tb">{{i.title}}</td>
                <td class="form-css tb">{{i.receiver}}</td>
                <td class="form-css tb">{{i.created}}</td>
                <td class="form-css tb">{{i.priority}}</td>
                <td class="form-css tb">
                  <a href="{{i.get_absolute_url}}" style="color: #00c522;">
                    {% include 'icons/eye.html' %}
                  </a>
                </td>
              </tr>
              {% endif %}
                
            {% endfor %}
              
          </thead>
        </table>
    </div>
</div>
<script>
  var table = document.getElementsByTagName('table')[0],
  rows = table.getElementsByTagName('tr'),
  text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 0, len = rows.length; i < len; i++) {
  rows[i].children[0][text] = i + ' ' + rows[i].children[0][text];
}
</script>

{% endblock content %}
